body {
    padding: 10px;
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.wrapper {
        width: 300px;
        height: 300px;

      }
.exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
.exmpl img {
        height: 100%;
        width: auto;
      }