{% extends "auctions/layout.html" %}

{% block body %}
<main>
    <div class="container" style="max-width: 800px;">
        <h2>Greate a lot</h2>
        <form action="{% url 'create_lot' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
           {{field.label_tag}}
            <div class="form-group">{{field}}</div>
           {% endfor %}
        <input class="btn btn-primary" type="submit" value="Create lot">
        </form>
    </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="mb-1"> &copy; Ubelitis Yan </p>
  </div>
</footer>

{% endblock %}