{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

<h3>Lot №{{lot.id}} {{lot.lot_name}}</h3>

{% if user.id != lot.userLot.id%}
    {% if not lot.price.all.last or lot.time_sales > t_Now %}
        <div class="sticky">
            {% if lot.time_sales > t_Now %}
                <img id="hammer_sm" alt="..." src="{% static 'auctions/image/hammer.png' %}">
            {% endif %}
            <form action="{% url 'lot' lot.id %}" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="bid" translate="no">
            </form>
        </div>
    {% endif %}
{% endif %}

<div class="container" style="max-width: 1600px;">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3">
        <div class="col">
            {% if lot.price.all.last %}
                {%if lot.time_sales >= t_Now %}
                    <p style="text-align: center; border: 1px solid #ACACAC; border-radius: 5px; margin: 10px 14px 2px 17px; padding: 2px; background-color: red;">
                        {{lot.time_sales|timeuntil}}
                        <nobr>before auction closes</nobr>
                    </p>
                {% else %}


<div class="dropdown-center">
                <a class="nav-link dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="dropdown" style="width: 100%; display: flex; flex-direction: row; justify-content: center   ; border: 1px solid #ACACAC; border-radius: 5px; margin: 2px; padding: 2px; background-color: yellow;">
                        Sold to {{lot.price.all.last.user}}
                    </div>
                </a>
                <ul class="dropdown-menu">
                    {% if user.id == lot.userLot.id%}
                        <li class="dropdown-item" translate="no">{{lot.price.all.last.user.email}}</li>
                    {%else%}
                        <p>Contact information is available only to the seller</p>
                    {%endif%}

                </ul>
            </div>



<!--            <div class="dropdown">-->
<!--  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--    Dropdown link-->
<!--  </a>-->

<!--  <ul class="dropdown-menu">-->
<!--    <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--    <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--  </ul>-->
<!--</div>-->
<!--                    <p style="text-align: center; border: 1px solid #ACACAC; border-radius: 5px; margin: 10px 14px 2px 17px; padding: 2px; background-color: yellow;">-->
<!--                        Sold to {{lot.price.all.last.user}}-->
<!--                    </p>-->
                {% endif %}
            {% else %}
            <p style="text-align: center; border: 1px solid #ACACAC; border-radius: 5px; margin: 10px 14px 2px 17px; padding: 2px; background-color: green;">
                There were no bids
            </p>
            {% endif %}
        </div>

        <div class="col">
            <div class="dropdown-center">
                <a class="nav-link dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="dropdown" style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; border: 1px solid #ACACAC; border-radius: 5px; margin: 2px; padding: 2px; background-color: rgb(240, 240, 245);">
                        {% if user.id == lot.userLot.id%}
                            {%if lot.price.all.last.price %}
                                <div style="display: inline-block; margin-left: auto; margin-right: auto;">
                                    <sup style="font-size:10px; text-decoration: underline;color: blue;">Total bets</sup>
                                    {{lot.price.count}}
                                </div>
                                <div style="display: inline-block; margin-left: auto; margin-right: auto;">
                                    <sup style="font-size:10px; text-decoration: underline;color: blue;">Last bid</sup>
                                    {{lot.price.all.last.price}}$ {{lot.price.all.last.user}}
                                </div>
                            {% else %}
                                <div style="margin-left: auto; margin-right: auto;">
                                    Starting price: {{lot.starting_price}}$
                                </div>
                            {% endif %}
                        {% else %}
                            <div style="margin-left: auto; margin-right: auto;">
                                Salesman {{lot.userLot}}
                            </div>
                        {% endif %}
                    </div>
                </a>
                <ul class="dropdown-menu">
                    {% if user.id == lot.userLot.id%}
                        {%if lot.price.all.last.price %}
                            {%for bid in lot.price.all%}
                                <li class="dropdown-item"> {{bid.user}} bid {{bid.price}}$</li>
                            {% endfor %}
                        {%else%}
                            <li class="dropdown-item">no bids</li>
                        {%endif%}
                    {%else%}
                        {% if user.id == lot.price.all.last.user.id and lot.time_sales < t_Now %}
                                {{lot.userLot.email}}
                        {%else%}
                            <p>contact information is available only to the winner of the auction </p>
                        {%endif%}
                    {%endif%}
                </ul>
            </div>
        </div>
    </div>
</div>

<p style="text-align: left; border: 1px solid #ACACAC; border-radius: 5px; margin: 15px; padding: 5px; background-color: rgb(240, 240, 245);">
    {{lot.description}}
</p>

<div class="container" style="max-width: 1600px;">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3">

        <div class="col" style="margin-bottom: 20px">
            {%if not lot.picture %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{% static 'auctions/image/no_picture.jpg' %}">
            {% else %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{{lot.picture}}">
            {%endif%}
        </div>
        <div class="col" style="margin-bottom: 20px">
            {%if not lot.picture %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{% static 'auctions/image/no_picture.jpg' %}">
            {% else %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{{lot.picture}}">
            {%endif%}
        </div>
        <div class="col" style="margin-bottom: 20px">
            {%if not lot.picture %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{% static 'auctions/image/no_picture.jpg' %}">
            {% else %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{{lot.picture}}">
            {%endif%}
        </div>
        <div class="col" style="margin-bottom: 20px">
            {%if not lot.picture %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{% static 'auctions/image/no_picture.jpg' %}">
            {% else %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{{lot.picture}}">
            {%endif%}
        </div>
        <div class="col" style="margin-bottom: 20px">
            {%if not lot.picture %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{% static 'auctions/image/no_picture.jpg' %}">
            {% else %}
                <img class="card-img-top" style="border: 1px solid #ACACAC; border-radius: 5px;" src="{{lot.picture}}">
            {%endif%}
        </div>

        <div class="col">
            <div style="border: 1px solid #ACACAC; border-radius: 5px;">
                <div id="scrol" style=" margin: 5px; border: 1px solid rgb(240, 240, 240); border-top-left-radius: 5px; border-top-right-radius: 5px; height: 300px; background-color: rgb(240, 240, 245); padding: 10px; overflow-x: hidden; overflow-y: scroll;">
                    {% for c_t in lot.user_comit.all %}
                        <p style="text-align: left;">
                            <span style="color:blue; font-weight:bold; text-decoration: underline;">{{c_t.user}}</span>: {{c_t.comit}}
                        </p>
                    {% endfor %}
                </div>
                <div style="padding:5px;">
                    <form action="{% url 'lot' lot.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            {{comment_forms}}
                            <input id="chat" class="btn btn-sm btn-outline-secondary" type="submit" value="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1"> &copy; Ubelitis Yan </p>
    </div>
</footer>

<script>
<!--down scroll-->
var objDiv = document.getElementById("scrol");
objDiv.scrollTop = objDiv.scrollHeight;
</script>

{% endblock %}

