{% extends "auctions/layout.html" %}

{% block body %}
<main>
    <div class="container" style="max-width: 800px;">
        <h2>Register</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            {{form}}
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        <div>
<a  href="/accounts/google/login/?process=login">Google</a>
        </div>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>



</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="mb-1"> &copy; Ubelitis Yan </p>
  </div>
</footer>
{% endblock %}


    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="974908331819-14snbd1r49vf120v5p2vja6mksvd48vr.apps.googleusercontent.com"
         data-ux_mode="redirect"
         data-login_uri="http://localhost:8000/admin/auctions/user/">
    </div>
    <div class="g_id_signin" data-type="standard"></div>