body {

    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.wrapper {
    width: 300px;
    height: 300px;

}

#hammer {
  position: absolute;
  margin-top: -600px;
  margin-left: -380px;
  width: 100px;

  animation: mymove 2s infinite;
}
@keyframes mymove {

  5% {margin-top: -550px;}
  5%{transform: rotate(-20deg);}
}


#sold {
  position: absolute;
  margin-top: -450px;
  margin-left: -350px;
  width: 200px;
}


