{% load static %}

body {
    /*background-image: url('image/hammer.png');*/
    text-align: center;

}


header{
     background: url('image/auctionn.jpg') no-repeat center;
     background-size: cover;
}


table {
  box-sizing: border-box;
  width: 100%;
  table-layout: fixed;
}

@media (max-width: 1024px) {
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:99999990;
}
}
div.sticky {
    background-color: #ccf0ff;
    margin-bottom: 10px;
    padding: 10px;
}

#chat{
    margin-left: 3px;
    background: url('image/say.png') no-repeat center left;
    padding-left:25px;"
}

#chat:hover {
    margin-left: 3px;
    background: url('image/say_w.png') no-repeat center left;
    background-color: grey;
    padding-left:25px;"
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

#card_div{
overflow: hidden;
}
#card_div:hover img {
  transition: 0.7s;
  transform: scale(1.1);

}
#card_div:hover #sold {
    transition: 0.1s;
    visibility: hidden;

}

@media (min-width: 374px) {
#hammer_sm {
  position: absolute;
  margin-top: -10px;
  margin-left: 115px;
  width: 60px;
  animation: my_move 2s infinite;
}
@keyframes my_move {

  5% {margin-top: 10px;}
  5%{transform: rotate(-20deg);}
}
}


@media (max-width: 374px) {
#hammer_sm {
  position: absolute;
  margin-top: 40px;
  margin-left: 75px;
  width: 60px;
  animation: my_move 2s infinite;
}
@keyframes my_move {

  5% {margin-top: 60px;}
  5%{transform: rotate(-20deg);}
}
}

#hammer {
  position: absolute;
  margin-top: -580px;
  margin-left: -30px;
  width: 100px;

  animation: mymove 2s infinite;
}
@keyframes mymove {

  5% {margin-top: -550px;}
  5%{transform: rotate(-20deg);}
}


#sold {
  position: absolute;
  margin-top: -450px;
  width: 100px;
}





#container {

    display: flex;
    flex-wrap: wrap;
}

#container > div {

     min-width: 540px;
     font-size: 20px;
     margin: 20px;
     padding: 20px;
}




.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select:- none;
}

@media (min-width: 768px) {
   .bd-placeholder-img-lg {
   font-size: 3.5rem;
   }
}

.b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

.b-example-vr {
     flex-shrink: 0;
     width: 1.5rem;
     height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


